#main.pure-u    
  
  / %a.addthis_counter{"addthis:description" => "An Example Description", "addthis:title" => "An Example Title", "addthis:url" => "http://example.com", :href => "http://www.addthis.com/bookmark.php"}

  
  .content
    .pure-g-r.l-centered.articles

      .pure-u-1.article
        = image_tag("adriana.png", :class => "pure-u addthis_shareable", "addthis:url" => "http://www.fattiepupe.herokuapp.com", "addthis:title" => "fattiepupe.com_cultura")

        %p.sentence
          All'et&agrave; di 70 anni, il nostro cuore avr&agrave; battuto per circa 2,5 miliardi di volte

      .pure-u-1.article
        = image_tag("boobs.png", :class => "pure-u addthis_shareable")

        %p.sentence
          Tutti i pianeti del sistema solare ruotano in senso antiorario, tranne Venere che ruota in senso orario

      / .pure-u-1-2
      /   .l-box
      /     %p
      /       - @posts.each do |post|
      /         #{post.name}
      /         #{post.title}
      /         #{post.content}
      /         #{post.image}
      /         #{link_to 'Show', post}
      /         #{link_to 'Edit', edit_post_path(post)}
      /         #{link_to 'Destroy', post, :method => :delete, :data => { :confirm => 'Are you sure?' } }

      /     %p
      /       #{link_to "Post it", posts_path}
