#main.pure-u
  .content
    .pure-g-r.l-centered.articles
      .pure-u-1.article
      
        %h1 
          = @post.title
        %br
        
        %p
          = image_tag(@post.photo.url(:medium), size:"480x640")
          
        %p
          = @post.content
        %p
          = " - "
          - @post.tags.each do |tag|
            = tag.name + " - "


    
        %br
        %br
    
        = render :partial => 'disqus'
