#main.pure-u
  .content

    = render '/shared/error'

    = simple_form_for resource, :wrapper => :pure, :as => resource_name, :url => session_path(resource_name), :html => {:class => "pure-form pure-form-aligned"} do |f|
      %fieldset
        %legend Sign in

        = f.input :email, :autofocus => true
        = f.input :password
        
        .pure-controls
          = f.button :button, 'Sign in', :class => "pure-button-primary"