%p#notice= notice

%p
  %b Photo file:
  = @photo.photo_file
%p
  %b Gallery:
  = @photo.gallery_id
%p
  %b Position:
  = @photo.position

= link_to 'Edit', edit_photo_path(@photo)
\|
= link_to 'Back', photos_path
