#main.pure-u
  .content

    = render 'shared/navigation'
    = render 'shared/error'
      
    %h2 Listing posts

    .pure-controls
      = link_to 'New Post', new_post_path, :class => "pure-button pure-button-primary"

    %br
      
    %table.pure-table
      %thead
        %tr
          %th Image
          %th Author
          %th Title
          %th Content
          %th
          %th
          %th

      - @posts.each do |post|
        %tr
          %td= link_to image_tag(post.photo.url(:thumb), size:"80x107"), post
          %td= post.author
          %td= link_to post.title, post
          %td= post.content
          %td= link_to 'Show', post
          %td= link_to 'Edit', edit_post_path(post)
          %td= link_to 'Destroy', post, :method => :delete, :data => { :confirm => 'Are you sure?' }



    %h2 Users
    %table.pure-table
      %thead
        %tr
          %th Name
          %th View
      - @users.each do |user|
        %tr
          %td= user.name
          %td #{link_to "X", user}
