#main.pure-u
  .content

    = render 'shared/navigation'
    = render 'shared/error'

    %h2 
      = @post.title
    
    %p#notice= notice
    
    = link_to 'Edit', edit_post_path(@post)
    \|
    = link_to 'Back', posts_path
    
    %p
      = image_tag(@post.photo.url(:medium), size:"480x640")
    %p
      %b Author:
      = @post.author
    %p
      %b Category:
      = @post.category.name if @post.category
    %p
      %b Tags:
      - @post.tags.each do |tag|
        = tag.name
    %p
      %b Content:
      = @post.content
    %p
      %b Date:
      = @post.created_at